@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EditorialNew';
  src: url('/fonts/PPEditorialNew-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PowerGrotesk';
  src: url('/fonts/PowerGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
